.busqueda{
  margin-left: 10%;
  margin-right: 10%;
  width: 70%;
  height: 100%


}
#searchterm{
  width: 70%;
  float: left;

}
#search{
  float: left;
  
}


.div-imagen {
  display:inline-block;
  position:relative;
}

.div-imagen > div {
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  padding:10px;
  margin:0;
}

.desvanecer:hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}