.Contenedor_videos{
	height: 50%;
	width: 40%;
	position: relative;
	top: 5%;
	left: 50%;
}

.Contenedor_videos_caracteristicas{
	height: 100%;
	width: 100%;
	position: relative;
	top: 100%;
	left: 10%;
	
}
#player{
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	margin-top:5px;
}

.imagen_central{
	margin-left: : 30%;
	margin-right: 30%;
}